.btn {
    display: inline-block;
    border: 0;
    border-radius: 6px;
    background: rgba(0,0,0,0);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.15s, transform 0.15s;

    &--blue {
        background-color: rgba(24, 115, 240, 1);

        &:hover {
            background-color: rgba(24, 115, 240, 0.8);
        }

        &:active {
            background-color: darken(rgba(24, 115, 240, 1), 10%);
            transform: translateY(1px);
        }
    }

    &--green {
        background-color: rgba(91, 215, 0, 1);

        &:hover {
            background-color: rgba(91, 215, 0, 0.8);
        }

        &:active {
            background-color: darken(rgba(91, 215, 0, 1), 10%);
            transform: translateY(1px);
        }
    }

    &--disabled {
        background-color: #c9d0e0;
        cursor: default;
        cursor: not-allowed;

        &:hover {
            opacity: 1;
            transform: none;
        }
    }

    &--round {
        padding: 25px 27px;
        border-radius: 33px;
        box-shadow: 0px 6px 10px 0px rgba(91, 215, 0, 0.3);
        font-size: 18px;
        font-weight: 500;
    }

    &--plus {
        position: relative;

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            content: "";
            width: 12px;
            height: 12px;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20id%3D%22plus%22%20data-name%3D%22plus%22%20viewBox%3D%220%200%2010.58%2010.58%22%3E%0D%0A%20%20%3Cdefs%3E%0D%0A%20%20%20%20%3Cstyle%3E%0D%0A%20%20%20%20%20%20.cls-1%7Bfill%3Anone%3Bstroke%3A%23fff%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A10%3Bstroke-width%3A1.5px%3B%7D%0D%0A%20%20%20%20%3C/style%3E%0D%0A%20%20%3C/defs%3E%0D%0A%20%20%3Cpath%20d%3D%22M5.3.75v9.08M9.83%205.3H.75%22%20class%3D%22cls-1%22/%3E%0D%0A%3C/svg%3E');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transform: translate(-50%, -50%);
        }
    }

    &--check {
        position: relative;

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            content: "";
            width: 18px;
            height: 12px;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2045.02%2045.02%22%3E%0D%0A%20%20%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M43.62%207.5L16.56%2034.7%201.4%2019.46%200%2020.86l16.56%2016.65L45.02%208.9%22/%3E%0D%0A%3C/svg%3E');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transform: translate(-50%, -50%);
        }
    }

    &--delete {
        position: relative;
        width: 10px;
        height: 10px;

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            content: "";
            width: 10px;
            height: 10px;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22612%22%20height%3D%22612%22%3E%0A%20%20%3Cpath%20fill%3D%22%238c0000%22%20d%3D%22M612%2036L576.52.6%20306%20270.6%2035.48.6%200%2036l270.52%20270L0%20576l35.48%2035.4L306%20341.4l270.52%20270L612%20576%20341.46%20306%22/%3E%0A%3C/svg%3E%0A');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transform: translate(-50%, -50%);
        }
    }
}