.cart {
    text-align: center;

    &__title {
        margin-bottom: 19px;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        color: #364962;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 15px;
    }

    &__old-price {
        margin-right: 25px;
        font-size: 18px;
        font-weight: 400;
        color: #bcbcbc;
    }

    &__total-price {
        font-size: 48px;
        font-weight: 300;
        color: #364962;

        sup {
            vertical-align: baseline;
            position: relative;
            font-size: .5em;
            line-height: 1;
            bottom: 1.4ex;
        }
    }

    &__discount {
        margin-bottom: 22px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #364962;
    }
}