.domain-table {
    &__row {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-right: auto;
    }

    &__description {
        display: flex;
    }

    &__price {
        text-align: right;

        strong {
            display: block;
        }
    }

    &--main {
        margin-bottom: 26px;

        .domain-table {
            &__row {
                padding-bottom: 17px;
                border-bottom: 1px #e4e7ec solid;
            }

            &__title {
                font-size: 30px;
                font-weight: 500;
                color: #364962;
            }

            &__price {
                margin-right: 22px;
                font-size: 11px;
                font-weight: 400;
                color: #778795;

                strong {
                    margin-bottom: 6px;
                    font-size: 18px;
                    color: #364962;
                }
            }

            &__btn {
                padding: 13px;
                box-shadow: 0 3px 5px 0 rgba(110, 119, 139, 0.18);
                font-size: 16px;
                font-weight: 400;
            }
        }

        @media(max-width: 568px) {
            .domain-table {
                &__row {
                    display: block;
                }

                &__title {
                    margin-bottom: 20px;
                }

                &__description {
                    justify-content: space-between;
                }

                &__price {
                    text-align: left;
                }

                &__btn {
                    padding: 10px;
                }
            }
        }
    }

    &--all {
        border: 1px #eceef1 solid;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 1px 15px 0 rgba(39, 70, 113, 0.04);

        .domain-table {
            &__row {
                padding: 24px 40px;
                background-color: #fff;

                &:first-of-type {
                    border-radius: 6px 6px 0 0;
                }

                &:nth-of-type(even) {
                    background-color: #fcfdfe;
                }

                &:last-of-type {
                    border-radius: 0 0 6px 6px;
                }
            }

            &__title {
                font-size: 18px;
                font-weight: 400;
                color: #364962;
            }

            &__price {
                margin-right: 20px;
                font-size: 11px;
                font-weight: 400;
                color: #778795;

                strong {
                    margin-bottom: 6px;
                    font-size: 18px;
                    color: #364962;
                }
            }

            &__btn {
                width: 40px;
                height: 40px;
            }
        }

        @media(max-width: 568px) {
            .domain-table {
                &__row {
                    padding: 20px;
                    display: block;
                }

                &__title {
                    margin-bottom: 20px;
                }

                &__description {
                    justify-content: space-between;
                }

                &__price {
                    text-align: left;
                }
            }
        }
    }

    &--small {
        margin-bottom: 27px;

        .domain-table {
            &__row {
                padding: 16px 20px;
                background-color: #fff;

                &:nth-of-type(even) {
                    background-color: #fcfdfe;
                }
            }

            &__title {
                font-size: 14px;
                font-weight: 500;
                color: #364962;
            }

            &__price {
                margin-right: 15px;
                font-size: 14px;
                font-weight: 400;
                color: #c1c1c1;
            }
        }

        @media(max-width: 568px) {
            .domain-table {
                &__row {
                    padding: 16px 20px;
                    background-color: #fff;
                }
            }
        }
    }
}