.footer {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 200;

    &__copyright {
        margin-right: auto;
    }

    @media(max-width: 568px) {
        display: block;
    }
}