.footer-subscribe {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
    border-top: 1px #f7f7f7 solid;

    &__logo {
        margin-right: auto;
    }

    &__title {
        margin-right: 20px;
        font-size: 16px;
        font-weight: 300;
        color: #1b4866;
    }

    &__content {
        width: 48.5%;
    }

    @media(max-width: 736px) {
        display: block;

        &__logo {
            margin-bottom: 10px;
        }

        &__title {
            margin-bottom: 10px;
        }

        &__content {
            margin-bottom: 10px;
            width: 100%;
        }
    }
}