.footer-nav {
    display: flex;
    align-items: flex-start;
    padding-bottom: 75px;

    &__logo {
        margin-right: auto;
    }

    &__col {
        width: 15.6%;
        margin-right: 16px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__title {
        margin-bottom: 45px;
        font-size: 16px;
        font-weight: 300;
    }

    &__item {
        margin-bottom: 25px;

        a {
            font-size: 14px;
            font-weight: 200;
            text-decoration: none;
            color: #364962;
        }
    }

    @media(max-width: 568px) {
        flex-wrap: wrap;
        padding-bottom: 0;

        &__logo {
            flex-basis: 100%;
            margin-bottom: 45px;
        }

        &__col {
            width: 22%;
        }
    }

    @media(max-width: 450px) {
        &__logo {
            margin-bottom: 20px;
        }

        &__col {
            margin-right: 0;
            width: 45%;
            margin-bottom: 20px;
        }

        &__title {
            margin-bottom: 20px;
        }
    }
}