.logo {
    position: relative;
    display: inline-block;
    width: 138px;
    height: 21px;

    &__label {
        position: absolute;
        top: -10px;
        right: 0;
        font-size: 10px;
        font-weight: 200;
        color: #364962;
    }

    &--tm {
        width: 161px;
        height: 26px;
    }
}