.notification {
    position: relative;

    img {
        width: 14px;
        height: 20px;
    }

    &__counter {
        position: absolute;
        top: -12px;
        right: -12px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #155bfc;
        box-shadow: 0px 2px 4px 0px rgba(21, 91, 252, 0.5);
        font-size: 11px;
        font-weight: 500;
        line-height: 20px;
        color: #fff;

        &:empty {
            display: none;
        }
    }
}