.payment {
    display: flex;
    align-items: center;

    &__title {
        margin-right: 15px;
    }

    &__content {
        display: flex;
        align-items: center;
        padding: 17px 15px;
        border: 1px #dbe2e9 solid;
        border-radius: 6px;

        img {
            height: 24px;
            margin-right: 4px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    @media(max-width: 568px) {
        display: block;
    }
}