.result-message {
    margin-bottom: 60px;
    padding-left: 31px;
    font-size: 18px;
    font-weight: 500;

    &--green {
        color: #4eb900;
    }

    &--red {
        color: #a9000c;
    }

    &--small {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }

    @media(max-width: 568px) {
        margin-bottom: 20px;
        padding-left: 0;
        font-size: 16px;
    }
}