.side-card {
    border: 1px #dbe2e9 solid;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 15px 0 rgba(39, 70, 113, 0.03);

    &__title {
        padding: 27px 10px 23px 10px;
        border-bottom: 1px #dbe2e9 solid;
        border-radius: 6px 6px 0 0;
        background-color: #fcfdfe;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        color: #364962;
    }

    &__content {
        padding: 11px 10px 33px 10px;
    }
}