.split-form {
    display: flex;
    align-items: stretch;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 15px 20px 0 rgba(13, 89, 243, 0.03);

    &__input {
        flex-basis: 75%;
        display: block;
        border: 0;
        padding: 25px 32px;
        border-radius: 8px 0 0 8px;
        font-size: 16px;
        font-weight: 300;
        background: rgba(0,0,0,0);
        color: #364962;
    }

    &__btn {
        flex-basis: 25%;
    }

    &--search {
        .split-form__btn {
            padding: 25px 63px;
            border-radius: 0 8px 8px 0;
            box-shadow: 0 3px 8px 0 rgba(41, 118, 253, 0.3);
            font-size: 16px;
            font-weight: 500;
            color: #fff;
        }

        @media(max-width: 568px) {
            .split-form__input {
                padding: 20px;
            }

            .split-form__btn {
                padding: 20px;
            }
        }

        @media(max-width: 400px) {
            .split-form__input {
                padding: 10px;
                font-size: 14px;
            }

            .split-form__btn {
                padding: 10px;
                font-size: 14px;
            }
        }
    }

    &--promo {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
        border: 1px #c8c8c8 solid;
        border-radius: 9px;

        .split-form__input {
            padding: 10px 12px;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            color: #364962;
        }

        .split-form__btn {
            font-size: 12px;
            font-weight: 400;
        }
    }

    &--subscribe {
        border: 1px #c9ced7 solid;
        border-radius: 9px;

        .split-form__input {
            padding: 15px 13px;
            font-size: 16px;
            font-weight: 300;
            color: #9ba1ac;
        }

        .split-form__btn {
            font-size: 16px;
            font-weight: 400;
            border-radius: 0 9px 9px 0;
        }
    }
}