.subtitle {
    padding-left: 40px;
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 500;
    color: #364962;

    @media(max-width: 568px) {
        padding-left: 0;
        margin-bottom: 20px;
    }
}