.top-bar {
    display: flex;
    align-items: stretch;

    &__logo {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &__controll {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-left: 1px #e6e9ed solid;

        &--user-details {
            width: 85px;
        }
    }
}