.section {
    background-color: #fff;

    &__row {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 1200px) {
        &__row {
            padding: 0 20px;
        }
    }

    &--top-bar {
        box-shadow: 0px 0px 15px 0px rgba(41, 37, 51, 0.04);

        .section__row {
            max-width: 1860px;
            padding-left: 30px;
        }
    }

    &--header {
        background-color: #eee;
        padding-top: 80px;
        padding-bottom: 90px;

        .section__heading {
            margin-bottom: 38px;
        }

        .section__title {
            font-size: 30px;
            font-weight: 400;
            text-align: center;
            color: #364962;
        }

        .section__content {
            max-width: 776px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--main {
        background-color: #fcfdfe;
        padding-top: 95px;
        padding-bottom: 55px;

        .section__content {
            display: flex;
            justify-content: space-between;

            main {
                width: 66.1%;
            }

            aside {
                width: 32.6%;
            }
        }

        @media (max-width: 980px) {
            .section__content {
                display: block;

                main {
                    width: 100%;
                    margin-bottom: 20px;
                }

                aside {
                    width: 100%;
                }
            }
        }

        @media(max-width: 568px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    &--footer {
        padding-top: 98px;
        padding-bottom: 60px;

        @media(max-width: 568px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}